<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
    </style>
  </head>
<body>
  <div class="container login-container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        
        <form>
          <!-- <img src="assets/images/logo.png" alt="logo"> -->
          <h4 class= "text-center">ERROR 404</h4>
          <h4 class= "text-center">PAGE NOT FOUND</h4>
          <div class="form-group">
          </div>
          <div class="text-center pt-1 mb-5 pb-1">
            <p class="small mb-0 text-white">Sorry, the page you are looking for does not exist or has been removed.</p>
            <br/>
            <p class="small mb-0 text-white">You can return to the<a href="/" class=" mb-0"> login page </a> or use the navigation menu to find what you need.</p>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>    
</body>
</html>