body {
    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;
  }
  
  footer {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
  }
  
  h5 {
    display: flex;
    align-items: center;
    text-align: center;
    color: #ffffff;
    font-family: "Arial", cursive;
  }
  
  .mini-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .mini-menu li {
    margin-right: 10px;
  }
  
  .mini-menu li:last-child {
    margin-right: 0;
  }
  
  .mini-menu li a {
    text-decoration: none;
    color: #4b4545;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-family: "Arial", cursive;
  }
  
  .container-fluid {
    background-color: #434242;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.816);
  }

  .mini-menu li a:hover {
    background-color: #ddd;
  }
  
  #header {
    background-color: #211f1f;
    padding: 20px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  #menu li {
    margin-right: 10px;
  }
  
  #nombreUsuario {
    font-family: "Arial", cursive;
    background: linear-gradient(to bottom right, #cc99ff, #ff0000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  #menu li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-family: "Arial", cursive;
  }
  
  #menu li a:hover {
    background-color: #939388;
  }
  
  #content {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ede3e3;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.816);
  }
  
  #content h2 {
    text-align: center;
    color: #033668;
    font-family: "Arial", cursive;
  }
  
  #description {
    text-align: center;
    margin-bottom: 30px;
    color: #4b4545;
    font-family: "Arial", cursive;
  }
  
  #image-carousel {
    margin-bottom: 30px;
  }
  
  #video {
    text-align: center;
  }

  #perfil-form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
  }
  
  #perfil-form label {
    display: block;
    font-size: 16px;
    color: #333333;
    margin-bottom: 10px;
    font-family: "Arial", sans-serif;
  }
  
  #perfil-form input,
  #perfil-form select {
    width: 100%;
    padding: 8px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-size: 14px;
    font-family: "Arial", sans-serif;
    margin-bottom: 15px;
  }
  
  #perfil-form input[type="submit"] {
    background-color: #211f1f;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  #nombreUsuario {
    font-family: "Arial", cursive;
    background: linear-gradient(to bottom right, #cc99ff, #ff0000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  #perfil-form input[type="submit"]:hover {
    background-color: #333333;
  }
  
  #perfil-form .error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    font-family: "Arial", sans-serif;
  }

  .perfil-container {
    margin-top: 20px;
  }
  
  .perfil-avatar img {
    width: 150px;
    height: 150px;
    border: 5px solid #fff;
  }
  
  .perfil-info h3 {
    font-size: 24px;
  }
  
  .perfil-info p {
    font-size: 16px;
    color: #666;
  }
  