/* Estilos para el contenedor de géneros */
.genre-container {
  display: flex;
  flex-wrap: wrap;
  overflow-x: hidden;
}

/* Estilos para los bloques de género */
.genre-block {
  width: calc(20% - 20px);
  border-radius: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
  justify-content: center;
  text-align: center;
  padding: 10px;
}

/* Estilos para los bloques de género cuando se pasa el ratón por encima */
.genre-block:hover {
  background-color: #cb080861;
  color: white;
}

/* Estilos para el texto dentro de los bloques de género */
.genre-block h3 {
  font-size: 16px;
  margin: 0;
}

/* Estilos para el botón "more" */
.scroll-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: #ffffff87;
}

.left-button {
  margin-left: 10px;
}

.right-button {
  margin-right: 10px;
}

h4, h3, p {
  color: white;
}

/* Estilos para el botón "more" */
.more-button {
  width: 100%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: white;
  text-align: center;
  margin: 0;
  padding: 0;
  transition: color 0.3s;
}

.more-button:hover {
  color: #e30606; /* Cambia el color del texto a rojo cuando se pasa el ratón por encima */
}

